<br>

<body class="bg-success p-2 text-dark bg-opacity-10">
  <div class="container d-flex align-items-center justify-content-center max-w-50">
    <div class="card border border-3 border border-success mb-5 bg-body rounded">
      <div class="card-body">
        <h1 class="text-center">Client</h1>
        <br>
        <%= simple_form_for(@client, html: { class: 'mx-auto' }) do |f| %>
          <%= f.input :first_name, class: "border border-success" %>
          <%= f.input :last_name, class: "border border-success" %>
          <div class="d-grid gap-2">
            <%= f.submit class: "btn btn-success opacity-90" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
