<h1>All clients</h1>
<ul>
  <% @clients.each do |client| %>
   <li><%= link_to client.first_name.concat(" #{client.last_name}"), client %></li>
  <% end %>
</ul>

<p><%= link_to("create ", new_client_path) %></p>
