
<h2>Cars</h2>

<ul class="list-group">
  <% @client.cars.each do |car| %>
    <li class="list-group-item">
      <strong>Brand:</strong> <%= car.brand %><br>
      <strong>Model:</strong> <%= car.model %>
    </li>
  <% end %>
</ul>

<br>
